body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f4f4f4;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #333;
}

h2 {
    color: white;
    border-bottom: 2px solid #e60000;
    padding-bottom: 5px;
}

div {
    margin: 20px 0;
    padding: 15px;
    background-color: #222;
    border-radius: 8px;
}

a {
    color: #00b7ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: #aaa;
}

.fighter-profile {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.stats {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
    row-gap: 5px;
}

.stats h3 {
    grid-column: 1 / -1;
    margin: 0 0 10px;
    color: #fff;
    font-size: 1.4rem;
}

/* Testing styles */
.fighter-comparison {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
  }
  
  .fighter {
    width: 20%;
  }
  
  .stat-label {
    margin: 25px 0;
    text-align: center;
  }
  
  .bar-chart {
    width: 60%;
  }
  
  .bar-row {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 15px 0;
    position: relative;
  }
  
  .bar {
    height: 100%;
    background-color: #3498db;
    transition: width 1s ease;
  }
  
  .bar.left {
    background-color: rgb(240, 47, 47);
    margin-right: auto;
    border-radius: 0 5px 5px 0;
  }
  
  .bar.right {
    background-color: rgb(31, 115, 241);
    margin-left: auto;
    border-radius: 5px 0 0 5px;
  }
  


